<!-- our team item -->
  <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInLeft our-experts-listing">
    <div class="our-experts-image">
      <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}"  class="img-fluid" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
    </div>
    <div class="our-experts-list-caption">
      <h3>{{ content.field_title.0 }}</h3>
      <p>{{ content.field_sub_title.0 }}</p>
    </div> 
  </div>
<!-- end our team item -->