     
<!-- Map section -->

<div id="map">
  {{content.field_map_iframe.0}}
</div>

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-decription wow fadeInLeft">
        <h3>{{content.field_title.0}}</h3>
        <p>{{content.field_description.0}}</p>    
      </div>
      <div class="col-md-6 col-xs-12 wow fadeInLeft">
       <div id="address">
          <ul class="address">
            <li><span><i class="fa fa-map-marker"></i></span><span>{{content.field_second_description.0}}</span> </li>
            <li><span><i class="fa fa-phone"></i></span><span>{{content.field_price.0}}</span></li>
            <li><span><i class="fa fa-envelope-o"></i></span><span>{{content.field_second_title.0}}</span></li>
            <li><span><i class="fa fa-clock-o"></i></span><span>{{content.field_timing.0}}</span></li>
          </ul>
          </div>  
      </div>      
      <div class="col-md-6 col-xs-12 details-section wow fadeInLeft"> 
        {{content.field_signup_form.0}}
      </div>
    </div>
  </div>  
</section>