<!-- About Section -->
<section id="about-section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12 wow fadeInLeft">
        <img src="{{content.field_image.0}}" class="img-responsive" alt="Title">  
      </div>      
      <div class="col-md-7 col-xs-12 details-section wow fadeInLeft">
        <h2>{{content.field_title.0}}</h2>
        <p>{{content.field_description.0}}</p>
      </div>
    </div>
  </div>  
</section>
<section id="about-section-2">
  <div class="container">
    <div class="row">      
      <div class="col-md-5 col-xs-12 details-section wow fadeInLeft">
        <h2>{{content.field_second_title.0}}</h2>
        <p>{{content.field_second_description.0}}</p>
      </div>
      <div class="col-md-7 col-xs-12 video-section wow fadeInLeft">
        <iframe width="600" height="315" src="{{content.field_video_url.0}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  
      </div>
    </div>
  </div> 
</section>         
{{content.field_view_section}}