<div class="col-md-4">
  <div class="columns wow fadeInLeft">
    <ul class="price">
		<li class="header">{{content.field_title.0}}</li>
		<li class="price-value"><span>$</span>{{content.field_price.0}}</li>
		<li class="feature-title">Features</li>
		<li class="feature">{{ content.field_pricing_features }}</li>
		<li class="pricing-button"><a class="button" href="{{content.field_button_link.0}}">{{content.field_button_text.0}}</a></li>
    </ul>
  </div>
</div>    