<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="team-member wow fadeInLeft">
    <img src="{{ fields.field_image.content}}" class="img-responsive" alt="Team image">
    <div class="team-title">
      <h3>{{ fields.title.content}}</h3>
      <p>{{ fields.field_position.content}}</p>
      <a href="{{ fields.field_facebook.content}}" class="fa fa-facebook"></a>
      <a href="{{ fields.field_twitter.content}}" class="fa fa-twitter"></a>
      <a href="{{ fields.field_google_plus.content}}" class="fa fa-google-plus"></a>
      <a href="{{ fields.field_instagram.content}}" class="fa fa-instagram"></a>
      <a href="{{ fields.field_website.content}}" class="fa fa-dribbble"></a>
    </div>
  </div>
</div>            